body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 48px;
}
img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 1140px;
    margin: 0 auto;
    padding: 80px 0;
}

.flexible-container{
    display: flex;
    align-items: center;
}
.half-width{
    width: 50%;
}
.hero-left {
    padding-right: 40px;
}
.hero-left h1 span{
    color: #80b500;
}

.hero-left p{
    color: #95979d;
    margin-bottom: 60px;
}

.food-btn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    background-image: linear-gradient(90deg, #c7eb75, #80b500);
    color: white;
    border-radius: 50px;
}
.about-section{
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-section img {
    position: absolute;
    bottom: 0;
    max-height: 480px;
}

.about-section {
    position: relative;
    min-height: 580px;
}

.about-right{
    margin-left: auto;
}

.about-right h1 {
    color: #47484c;
}
.about-right p {
    margin-bottom: 80px;
}

.recipies-header {
    text-align: center;
    color: #47484c;
    padding: 0 150px;
    margin-bottom: 40px;
}
/* recipies section css */
.recipie-img-box1{
    background-image:url(../images/food/Project-Cover5.png)
}
.recipie-img-box2{
    background-image:url(../images/food/Project-Cover7.png)
}
.recipie-img-box3{
    background-image:url(../images/food/Project-Cover8.png)
}

.recipies-item {
    margin: 15px;
    box-shadow: 1px 1px 26px 4px #ddd;
    padding: 20px;
    border-radius: 15px;
}

.recipies-image {
    min-height: 280px;
    width: 100%;
    background-size: cover;
    border-radius: 20px;
}

/* counter section css */
.counter-section .flexible-container {
    margin: 15px;
    box-shadow: 1px 1px 26px 4px #ddd;
    padding: 30px 0;border-radius: 15px;
}

.counter-item {
    width: 33.333333%;
    text-align: center;
}

.counter-section .container {
    padding-top: 0;
}

.counter-item h1 {
    margin: 0;
}


/* product section css */
.flexible-product {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    width: calc(25% - 20px);
    margin: 8px;
    margin-bottom: 20px;
    border: 2px solid #f6f6f6;
}

.product-ratting ul {
    list-style: none;
    display: inline-flex;
    color: orange;
    font-size: 23px;
    margin: 0;
    padding: 0;
}

h2.product-title {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
    transition: .3s;
}

h2.product-title:hover{
    color: #80b500;
    cursor:pointer;
}

.product-info {
    padding: 25px 30px 15px;
    text-align: center;
}

.product-ratting {
    margin-bottom: 3px;
}

.product-price {
    font-size: 20px;
    font-weight: 700;
    color: #80b500;
}

.product-img img {
    border-bottom: 2px solid #f6f6f6;
}

.product-img img {
    border-bottom: 2px solid #80b500;
}

.product-price del {
    opacity: .7;
}

.product-info {
    padding: 25px 30px 15px;
    text-align: center;
}

.product-ratting {
    margin-bottom: 3px;
}

.product-img {
    position: relative;
}

.product-badge ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.product-badge li {
    font-size: 14px;
    background-color: #80b500;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding: 7px 15px;
}

.product-badge {
    position: absolute;
    top: 10px;
    right: 15px;
}

.our-product-section h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

/* call to action css */
.call-to-section {
    background-image: url(../images/cal-to-action.jpg);
    background-position: center center;
    background-size: cover;
    padding-top: 115px;
    padding-bottom: 120px;
    position: relative;
    text-align: center;
}

.container-call-to h1 {
    font-size: 56px;
    margin: 0;
    line-height: 1;
    color: #fff;
    margin-bottom: 15px;
    display: inline-block;
}

.container-call-to p {
    color: #80b500;
    font-size: 16px;
    font-weight: 700;
}

.btn-wrapper a {
    text-decoration: none;
    color: #fff;
    background-color: #80b500;
    padding: 14px 25px;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    transition: .3s;
    border: 1px solid #80b500;
}

.btn-wrapper {
    margin-top: 30px;
}

.btn-wrapper .contact-btn {
    background: transparent;
    border: 1px solid #fff;
}

.btn-wrapper .contact-btn:hover {
    background-color: #80b500;
    border-color: #80b500;
    color: #fff;
}

.btn-wrapper a:hover {
    background-color: #fff;
    color: #80b500;
    border-color: #fff;
}

.btn-wrapper .call-btn{
    margin-right: 15px;
}

.call-to-left {
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    top: 50%;
    max-width: 34%;
}

.call-to-right {
    position: absolute;
    right: 0;
    bottom: -5px;
    max-width: 27%;
}

/* footer css */
footer.site-footer {
    text-align: center;
    background-color: #000;
    color: #c5baba;
    padding: 50px 0;
}

footer.site-footer h1 span {
    color: orange;
}

footer.site-footer h1 {
    color: #333;
    margin: 0;
}